/* #updateDelete{
    display: flex;


} */

#updateDelete th{
    width: '5%'
}
.body {
    text-align: center;
}
.heading{
    text-align: center;
}
#showTable {
    margin-top: 30px;
}
#Adding {
    margin-top: 20px;
}